html
	head
		title= titleIndex
		link(rel='stylesheet', href='/css/index.css')
		link(rel="shortcut icon", href="/img/favicon.ico")
	body#index
		div.vertical
			h1= brand
			div
				p= description
				br
				a(href="/search")
					button= button1
				br
				a(href="/algorithm")
					button= button2
				br
				a(href="/compilator")
					button= button3
				br
				a(href="/quiz")
					button= button4
		script(src='lib/vue.min.js')
		script(src='lib/vue-resource.min.js')
		script(src='lib/socket.io.min.js')
		script(src='js/index.js')
