html
	head
		title= titleQuiz
		link(rel='stylesheet', href='/css/index.css')
		link(rel="shortcut icon", href="/img/favicon.ico")
	body#quiz
		div#menu
			a(href="/")
				h1= brand
			div
				a(href="/search")= button1
				a(href="/algorithm")= button2
				a(href="/compilator")= button3
				a(href="/quiz")= button4
		div#question
				h1#text
				input(value="1", type="radio", name="answer")
				label#one
				br
				input(value="2", type="radio", name="answer")
				label#two
				br
				input(value="3", type="radio", name="answer")
				label#three
				br
				input(value="4", type="radio", name="answer")
				label#four
				br
				button#send= sendText
		div#resultDiv
				p#result
		script(src='lib/vue.min.js')
		script(src='lib/vue-resource.min.js')
		script(src='lib/socket.io.min.js')
		script(src='js/quiz.js')
